body,p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#btn,#clear {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    /* width: 70px; */
    /* height: 30px; */
    border-radius: 5px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: white;
    /* margin-left: 20px; */
}

#btn.disabled {
    opacity: 0.3;
}

#target,#target2 {
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

span {
    margin-right: 5px;
}

.hidden {
    display: none;
}

.weeklyimg {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.dayly-wrap {
    display: flex;
    overflow: scroll;
    min-width: 50px;
}

.dayly-weather {
    width: 50px;
    margin: 0 5px;
    text-align: center;
}

.guide>p {
    width: 50px;
    margin: 0 5px;
    text-align: center;
}

#weekly {
    display: flex;
    flex-wrap: nowrap;
	justify-content: unset;
}

.arimura {
    display: flex;
	flex-wrap: nowrap;
	justify-content: unset;
}

.yuuki {
    /* flex-wrap: nowrap; */
    min-width: 30%;
}